@media (max-width: 600px) {
  .section1, #about, .row {
    flex-wrap: wrap;
  }

}

@media (max-width: 700px) {
  .navbar {
    display: none;
  }

  #hamburger {
    display: flex;
  }

  .pic {
    display: block;
    margin-bottom: 7rem;
  }

  section {
    padding-top: 10px;
    margin: 0 5%;
    width: 100%;
  }

  .topheader {
    text-align: start;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .myname {
    font-size: 35px;
  }

  .hamburger-menu {
    margin-right: 200px;
  }

  .contact {
    text-align: start;
  }

}

 
