@media screen and (max-width: 1200px) {
  .pic {
    height: 84vh;
  }
  .section1, #about, .row {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 784px) {
  .navbar {
    display: none;
  }

  #hamburger {
    display: flex;
  }

  .myname {
    font-size: 30px;
  }

  .pic, section {
    height: fit-content;
  }

  section {
    margin: 0 5%;
  }

  .pic {
    margin-bottom: 10rem;
  }

  .pic, .profile, .paragraph1 {
    flex-direction: column;
  }

  .section1, #about {
    width: 190%;
    margin: 0 10px;
  }

 .topheader {
    display: flex;
    justify-content: flex-start;
  }

  .section, #contact-me {
    width: 190%;
    margin: 0 10px;
  }
  
  .text-area {
  width: 330px;
}

.input-field {
  width: 165px;
}

.contact {
  display: flex;
  justify-content: flex-start;
}

}
  

 
